body {
  margin:0px;
  background-color:rgba(253, 226, 61, 1);
  background-image:none;
  position:static;
  left:auto;
  width:493px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:639px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:172px;
  width:375px;
  height:638px;
  opacity:0.5;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:639px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:172px;
  width:375px;
  height:638px;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:278px;
  height:54px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:187px;
  width:257px;
  height:33px;
}
#u1390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:191px;
  width:224px;
  height:25px;
}
#u1391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:108px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:36px;
  width:438px;
  height:108px;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:144px;
  width:31px;
  height:666px;
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:666px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:144px;
  width:33px;
  height:666px;
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:112px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:810px;
  width:438px;
  height:112px;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:144px;
  width:375px;
  height:28px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:195px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#A85E34;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:297px;
  width:81px;
  height:26px;
  font-size:11px;
  color:#A85E34;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:259px;
  width:57px;
  height:16px;
  color:#442509;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:297px;
  width:58px;
  height:26px;
  font-size:11px;
  color:#A85E34;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:297px;
  width:58px;
  height:26px;
  font-size:11px;
  color:#A85E34;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:341px;
  width:149px;
  height:26px;
  font-size:11px;
  color:#A85E34;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:297px;
  width:53px;
  height:26px;
  font-size:11px;
  color:#A85E34;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:258px;
  width:13px;
  height:14px;
  color:#A85E34;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:341px;
  width:58px;
  height:26px;
  font-size:11px;
  color:#A85E34;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
